@{
    ViewBag.Title = "Home Page";
}

<div class="d-flex justify-content-center" style="padding-top: 100px;">
    <a class="btn btn-primary" style="font-size: large;" asp-controller="Developer" asp-action="BecomeDeveloper">Стати розробником</a>
</div>
